.navber {
  display: flex;
  padding-top: 1.813rem;
  padding-bottom: 1.813rem;
  background-color: white;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.nav-menu {
  display: flex;
  gap: 2.563rem;
  margin: 0;
  padding-left: 2.938rem;
  align-self: center;
}

.nav-menu li {
  list-style-type: none;
  margin: 0;
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
  margin: 0;
}

.books {
  color: black;
  text-decoration: none;
}

.categories {
  color: rgb(155, 151, 151);
  text-decoration: none;
}

.user-login {
  color: #0290ff; 
}

.login-circle {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  width: 2.813rem;
  height: 2.813rem;
  padding-top: .25rem;
  margin-left: auto;
}