.book-detail {
  display: flex;
  justify-content: space-between;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  background-color: white;
  height: 10.625rem;
  border: solid 1px #e8e8e8;
  padding: 2rem;
}

.category {
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  width: 100%;
}

.title {
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
  width: 100%;
}

.author {
  height: 1.188rem;
  margin: 0.25rem 0.875rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  width: 100%;
}

.book-card {
  width: 50%;
  text-align: left;
}

.user {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0 10px 0 0;
}

.remove,
.comments,
.edit {
  border: none;
  background-color: white;
  height: 1.188rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  padding-top: 0;
}

.comments {
  padding-left: 0;
}

.dot {
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 50%;
  display: inline-block;
  border: 4px solid #edeff1;
  border-bottom-color: #17b0f6;
  border-right-color: #17b0f6;
  border-top-color: #17b0f6;
}

.Rectangle-3 {
  width: 5.625rem;
  height: 5.62rem;
  padding: 0.62rem 0.625rem 0.75rem 0.75rem;
}

.chrapter {
  display: grid;
  text-align: left;
}

.current-chapter {
  opacity: 50%;
  font-size: 0.875rem;
}

.chapter-no {
  font-size: 1rem;
}

.update-button {
  float: left;
  width: 100%;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: white;
  border: none;
  margin: 0;
  font-size: 1vw;
}

.completed-yet {
  font-size: 2rem;
  align-self: end;
  color: black;
  margin: 0;
}

.completed {
  font-size: 0.875rem;
  color: gray;
  margin: 0;
  display: grid;
}
